.star-container {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: fit-content;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.star-container:hover {
  transform: translateY(-10px);
}

.star-container:hover .tooltip {
  box-shadow: 0 0 25px rgba(255, 159, 77, 0.8);
}

.star-container:hover .text {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.star-container:hover .star {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}

.tooltip {
  background-color: transparent;
  border: 2px solid #ff9f4d;
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(255, 159, 77, 0.5);
  transition: box-shadow 0.3s ease;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ff9f4d;
  filter: drop-shadow(0 5px 5px rgba(255, 159, 77, 0.3));
}

.text {
  color: white;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 0;
  transition: text-shadow 0.3s ease;
}

.star {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem auto 0;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transition: filter 0.3s ease;
  padding: 0.5rem;
}

.circle {
  border: 2px dotted #ffae67;
  border-radius: 50%;
}
