.about-background {
  position: relative;
  background-image: url("assets/About-Background.png");
  background-size: cover;
  background-position: center;
  width: 100;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}

.display-screen {
  font-family: "Roboto Mono", monospace;
  color: #fdf9f7;
  text-align: left;
  overflow-y: scroll;
}
.display-screen-widget {
  margin-top: 11vh;
  max-width: 95vh;
  max-height: 55vh;
  padding: 0 1rem;
  overflow-y: scroll;
}

.display-screen b {
  color: #ec703a;
}

.why-join li {
  margin: 0;
  padding: 0;
}

.about-title {
  font-size: 2rem;
  margin: 0;
}

.about-content {
  font-size: 1rem;
}

@media (min-width: 650px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 2100px) {
}

@media (min-width: 2400px) {
}

@media (min-width: 3700px) {
}
