.schedule-background {
  background-image: url("assets/Schedule-Background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.folder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
