.sponsor-background {
  background-image: url("assets/Brick-Background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
