.title-gradient {
  background: linear-gradient(to top, #e97c2a 15%, #693b48 75%, #17161b 100%);
  height: 100vh;
}

.title-background {
  background-image: url("assets/Background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.title-content {
  width: 100vw;
  height: 100vh;
  padding: 2.5rem 2rem;
  position: relative;
  font-family: "Righteous", sans-serif;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.631);
  background: linear-gradient(
    to top,
    #e97d2a00 15%,
    #693b484f 50%,
    #17161b4f 100%
  );
}

.title-content h1 {
  margin: 0;
  color: #fdf9f7;
  font-size: 12rem;
}

.title-content h2 {
  margin: 0;
  color: #fdf9f7;
  text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.631);
  font-size: 3rem;
}

.title-content h3 {
  margin-top: 1;
  color: #fdf9f7;
  text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.631);
  font-size: 2rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 475px) {
  .title-content h1 {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .title-content h1 {
    font-size: 7rem;
  }
  .title-content h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .title-content h1 {
    font-size: 8rem;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 2100px) {
  .title-content h1 {
    font-size: 12rem;
  }
  .title-content h2 {
    font-size: 3rem;
  }
  .title-content p {
    font-size: 2rem;
  }
}

@media (min-width: 2400px) {
}

@media (min-width: 3700px) {
}
