.full_folder__wrapper {
    max-width: 90%;
    max-height: 40%;
}

.full_folder__content_wrapper {
    position: absolute;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 1%;
    top: 0;
    left: 0;
    z-index: 3;
    width: 90%;
    height: 75%;
    margin-top: 5vh 
} 
/* SUS USE of 5VH */

.folder_wide__container {
    width: 84%;
}


.folder_thin__container {
    width: 10%;
    margin-left: 1%;
}


.full_folder__background_wrapper {
    position: relative;
    width: 100%;
    height: 85vh;
}

.full_folder__background_filler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.full_folder__background_outline{
    filter: drop-shadow(0px 0px 10px #fab277);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
