.title-countdown2 {
    z-index: 0;
    color: #fdf9f7;
  }
  
  .title-countdown2 img {
    height: 110vh; 
    object-fit: contain; 
  }
  
  
  .countdown-label2 h1 {
    margin: 0;
  }
  
  .countdown2 {
    font-family: "DigitalNumbers", sans-serif;
    font-size: 1.85vw;
  }
  
  .countdown2 h1 {
    margin: 0;
  }
  
  .countdown-sublabel-time2 {
    font-family: "RobotoMonoRegular", sans-serif;
    font-size: 0.65vw;
  }
  
  .countdown-sublabel-days2 {
    font-family: "RobotoMonoRegular", sans-serif;
    font-size: 0.65vw;
  }
  
  .countdown-sublabel-hours2 {
    font-family: "RobotoMonoRegular", sans-serif;
    font-size: 0.65vw;
  }
  
  .countdown-sublabel-minutes2 {
    font-family: "RobotoMonoRegular", sans-serif;
    font-size: 0.65vw;
  }

  .sublabel-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }