.input-field {
  width: 100%; /* Adjust width to match the form padding */
  height: 6vh;
  padding: 12px; /* Added more padding for better UX */
  border-radius: 12px;
  border: 2px solid #ffffff;
  transition: border-color 0.2s ease;
  display: block; /* Ensures inputs are properly aligned */
  box-sizing: border-box;
  text-align: center;
}

.input-field::placeholder {
  font-size: 1.5rem;
  font-family: "RobotoMonoBold", sans-serif;
  color: #d9d9d9; /* Optional: Adjust color for better visibility */
}

.input-field:focus {
  outline: none;
}
