.folder-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 20%;
}

.team-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
}

.instruction {
    margin-left: 0vw;   
    font-family: "RobotoMonoLight", sans-serif;
}

.note {
    margin-top: 0vh;
    margin-left: 0vw;   
    font-family: "RobotoMonoLight", sans-serif;
}

.message {
    font-family: "RobotoMonoLight", sans-serif;
    font-size: 0.8rem;
}

.teams-button, .teams-button-join {
    position: relative;
    width: 20vw;
    height: 6vh;
    border-radius: 1rem;
    background-color: #91511A;
    border: none;
    font-family: "RobotoMonoLight", sans-serif;
    color: white;
    transition: background-color 0.3s ease;
}

.teams__dashboard_return {
    font-family: "RoboMonoRegular", sans-serif;
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
}

.teams__dashboard_return:hover {
    text-decoration: underline;
    font-weight: 700;
}

/* .logout_button {
    width: 90%;
    padding: 1rem 0 1rem 0;
    border-radius: 1.5rem;
    background-color: #91511a;
    border: none;
    transition: background-color 0.3s ease;
  } */
  

.teams-button:hover, .teams-button-join:hover {
    background-color: #7c4514;
    cursor: pointer;
}

.teams-button-join {
    margin-left: 2vw;
}