.dashboard__widget_title {
    font-family: "RobotoMonoRegular", sans-serif;
    font-size: 1.8vw;
    font-weight: 500;
    margin: 0;
}
.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97%;
}

/* !!! COME BACK */
.team-name {
    font-size: 1.65vw; 
}

.my_team__title {
    margin-bottom: 4vh;
}

.top-row {
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
    column-gap: 1vw;
    padding-left: 1vw;
}

.dashboard__welcome_widget {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    overflow-x: auto;

    white-space: nowrap;       
    overflow: hidden;         
    text-overflow: ellipsis;   
    max-width: 100%; 
}

.dashboard__registration_status {
    font-family: "RobotoMonoBold", sans-serif;
    font-size: 1.7vw;
}


.dashboard__username {
    font-size: 3vw;
    margin: 0;
    margin-top: 0.5vw;
}

.top1__welcome_container {
    height: 100%;
    width: 20%;
}


.top2__team_container {
    height: 100%;
    width: 32%;
}

.top3 {
    height: 100%;
    width: 45%;
}

.dashboard__desc {
    font-family: "RobotoMonoLight", sans-serif;
    font-size: 1.2vw;
    margin: 0;
}

.desc_bolded {
    font-family: "RobotoMonoBold", sans-serif;
}

.bot-row {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    padding: 1vw;
    height: 65%;
    width: 100%;
}

.bot1-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    width: 30%;
}

.dashboard__case_package_widget {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submission-status {
    margin-top: 2vh;
}

.dashboard__case_package_unavail {
    text-align: center;
}

.bot1-top {
    height: 30%;
    width: 100%;
}

.bot1-bot {
    height: 70%;
    width: 100%;
}

.bot2 {
    height: 100%;
    width: 30%;
}

.announcements__title {
    margin-bottom: 1vh;
}

.bot3 {
    height: 100%;
    width: 37%;
}


.redirect-button {
    position: relative;
    width: 70%;
    padding: 1vw 0 1vw 0;
    border-radius: 1.5vw;
    background-color: #91511A;
    border: none;
}

.redirect-button:hover {
    background-color: #774112;
}

.project_submission__title{
    margin-bottom: 5vh;
}

.upcoming_events__table-wrapper {
    margin-top: 0.85vh;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-left: 0.45vw;
    overflow-y: scroll;
}

.row {
    margin-top: 0.45vw;
    display: flex;
    flex-direction: row;
    gap: 0.45vw;
}

.left {
    text-align: center;
    border-radius: 0.42vw;
    flex: 2;
    background-color: #BC743E;
    padding: 0.4vw;
}

.right {
    flex: 6;
    border-radius: 0.42vw;
    background-color: #BC743E;
    padding: 0.4vw;
}