.space-bg {
  background-image: url("assets/SpaceBG.png");
  background-size: cover;
  background-position: center bottom;
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.register-gradient {
  background: linear-gradient(to top, #693b48 0%, #422932 19%, #17161b 81%);
  width: 100%;
  min-height: 100vh; /* Ensures it covers the entire page */
  height: auto; /* Allows it to expand beyond 100vh if needed */
}

.register-content {
  display: flex;
  flex-direction: column;
  font-family: "Righteous", sans-serif;
  padding: 3rem;
  width: 60%;
  z-index: 0;
  justify-content: center;
  color: #17161b;
}

.register-title {
  color: #fdf9f7;
  text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.631);
  font-size: 4rem;
  font-weight: 700; /* Increased weight for a bolder title */
  margin: 0.5rem 0;
  font-family: "Righteous", sans-serif;
}

.register-subtitle {
  color: #fdf9f7;
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 300; /* Lighter weight for contrast */
  text-shadow: 8px 8px 12px rgba(0, 0, 0, 0.631);
}

.register-form {
  width: 100%;
  height: auto;
  background-color: #ead0c3;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-family: "Roboto Mono", monospace;
  display: block;
  box-sizing: border-box;
}

.form-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-section {
  margin: 10px 0;
}

.optional-label,
.required-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.required-text {
  color: red;
  font-style: italic;
  font-size: 0.8em; /* Adjust size */
  vertical-align: super;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}

.button-row-single {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.back-button,
.continue-button {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-button,
.back-button {
  background-color: #c88b5e;
  color: white;
}

.continue-button:hover,
.back-button:hover {
  background-color: #b07a4c;
}

.portal-link {
  color: #c88b5e; /* Match button color */
  font-weight: bold;
  transition: color 0.3s ease;
}

.portal-link:hover {
  color: #b07a4c; /* Darker shade on hover */
  text-decoration: underline;
}

.bootcamp-info {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.email-link {
  color: #ac6d41; /* Match button color */
}

.email-link:hover {
  color: #d0976e; /* Match button color */
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radio-label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid #3e2723;
  cursor: pointer;
  transition: background-color 0.2s;
}

.radio-label:hover {
  background-color: #f2ece9;
}

.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioButton {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: 2px solid #3e2723;
  border-radius: 50%;
}

.radioInput:checked + .radioButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.radioText {
  margin-left: 28px;
  font-size: 1rem;
  color: #3e2723;
  min-width: 4rem;
  text-align: center;
}

.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkboxLabel {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  border: 2px solid #3e2723;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkboxLabel:hover {
  background-color: #f2ece9;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 2px solid #3e2723;
  border-radius: 4px;
}

.checkboxInput:checked + .checkbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 0px;
  width: 3px;
  height: 7px;
  border: solid #3e2723;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxText {
  margin-left: 32px;
  font-size: 1rem;
  color: #3e2723;
  width: fit-content;
}
