.team__content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.teammate_cards_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.team__buttons-wrapper {
    display: flex;
    justify-content: center;
    row-gap: 1rem;
}

.team-page-wrapper {
    max-width: 95%;
    padding-left:2rem;

}

.team_current_teammates__wrapper {
    display: flex;
    gap: 1rem;

}

.team_current_teammate__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.teammate_profile_picture {
    margin-top: 1rem;
    margin-left: 2rem;
    max-width: 60%;
    aspect-ratio: 1;
    border-radius: 30px;
    object-fit: cover;
}
.member-info {
    width: 100%;
}

.teammate-name {
    font-size: 1.5vw;
}

.teammate-major {
    bottom: 5px;
    font-size: 1vw;
}

.teammate-widget {
    width: 15rem;
    aspect-ratio: 4/5;
}


