.team__content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.team__buttons-wrapper {
    display: flex;
    justify-content: center;
    row-gap: 1rem;
}

.hehehaha {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.team_current_teammates__wrapper {
    display: flex;
    gap: 1rem;

}

.team_current_teammate__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.teammate_profile_picture {
    max-width: 50%;
    aspect-ratio: 1;
    border-radius: 30px;
    object-fit: cover;
}