@font-face {
  font-family: "DigitalNumbers";
  src: url("/fonts/DigitalNumbers-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoBold";
  src: url("/fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoMedium";
  src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoLight";
  src: url("/fonts/RobotoMono-Light.ttf") format("truetype");
}

body {
  color: white;
}

h1 {
  font-family: "RobotoMonoBold", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}